<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="broccoli.donotplaythisgame" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityGame"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_activity_game"
            android:parentActivityName=".ActivityMain"
            android:theme="@style/GameTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="broccoli.donotplaythisgame.ActivityMain" />
        </activity>
    </application>

</manifest>
